/************** Form **************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
ol, ul, li {
	list-style: none;
}
@font-face {
	font-family: Open Sans;
 	src: url(font/Open Sans.textClipping);
}
body {
	background: #848a8c;
	font-family: Microsoft JhengHei, Open Sans, Arial ;
	color: #666;
	overflow-x: hidden;
	overflow-y: auto;
}
a {
	text-decoration: none;
}
.bg {
	background-color: #869499;
	min-height: 500px;
	position: relative;
	height: calc(100vh - 224px);
	padding: 20px;
}

@media screen and (min-width: 1200px) {
.bg {
	background-image: url(../images/bg_factory.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-origin: border-box;
	animation: 2s myshow;
}
.bg::before {
	content: url(../images/bg_car.png);
	width: 100%;
	position: absolute;
	left: calc(50% - 650px);
	top: 10px;
	animation: 2s myshow;
}
}

@media screen and (max-width: 550px) {
.bg {
	background-image: none;
	height: auto;
}
}
/************** header **************/

header {
	background: #627075;
	padding: 5px 0;
	position: relative;
}
.logo {
	padding: 10px;
	animation: 1s comming;
}
 @keyframes comming {
 from {
padding-left: 400px}
to {
padding-left: 0}
}

@media screen and (min-width: 1500px) {
header .logo {
	margin-left: calc(50% - 780px);
}
}

@media screen and (max-width: 420px) {
header .logo img {
	width: 95vw;
}
}
/************** footer **************/

footer {
	background: #a4b2b7;
	padding: 10px;
	position: relative;
}
footer .name {
	float: left;
	margin: -3px 0 0 10px;
	width: 170px;
	top: 0;
}
footer span {
	font-size: 18px;
	font-weight: bolder;
	color: #333;
	display: inline-block;
	line-height: 1.5em;
}
footer p {
	font-size: 10px;
	-webkit-transform: scale(0.9);
	color: #333;
	display: block;
	font-family: Arial;
	line-height: 1.2em;
}
.copy {
	width: 480px;
	line-height: 1.3em;
	position: absolute;
	right: 10px;
	top: 25px;
	color: rgba(85, 85, 85, 0.9);
	font-size: 14px;
	padding-left: 20px;
	font-family: Arial;
	animation: 1s comming2;
}
.copy2 {
	width: 250px;
	line-height: 1.5em;
	position: absolute;
	right: 10px;
	top: 25px;
	color: rgba(85, 85, 85, 0.9);
	font-size: 14px;
	padding-left: 20px;
	font-family: Arial;
	animation: 1s comming2;
}

@media screen and (max-width: 700px) {
.copy {
	width: 60%;
	top: 20px;
}
.copy2 {
	width: 42%;
	top: 20px;
}
}

@media screen and (max-width: 500px) {
.copy, .copy2 {
	width: 90%;
	top: 105px;
	left: 0;
	padding-bottom: 15px;
	color: #FFF;
}
}
/************** login bar **************/

.language {
	position: absolute;
	width: 130px;
	top: 20px;
	right: 20px;
	color: #FFF;
	border-radius: 5px;
	background-color: rgba(220, 106, 60, 0.85);
	font-size: 0.8em;
	animation: 1s comming2;
}
@keyframes comming2 {
 from {
right: -260px
}
to {
right: 20px;
}
}
.language i {
	background-image: url(../images/arrow-down.png);
	background-repeat: no-repeat;
	width: 26px;
	height: 8px;
	display: inline-block;
	float: left;
	margin-top: 4px;
}
.language li {
	position: relative;
}
.language li a {
	display: block;
	padding: 10px 20px;
	line-height: 1em;
	
}
.language li ul {
	position: absolute;
	background-color: rgba(220, 106, 60, 0.8);
	left: 0px;
	top: 100%;
	z-index: 9;
	display: none;
	width: 100%;
	border-bottom-left-radius: 5px; 
	border-bottom-right-radius: 5px; 
}
.language li:hover > ul {
	display: block;
}
.language li ul li {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	padding-left: 25px;
}
.language a, .loginbar a {
	color: #FFF;
	text-decoration: none;
}
.login {
	padding: 10px;
	margin: 0 20px;
	background-image: url(../images/arrow-login.png);
	background-repeat: no-repeat;
	background-position: right center;
	line-height: 1.3em;
}

@media screen and (max-width: 560px) {
header {
	height: 125px;
}
.language {
	top: 85px;
}
}
/************** Content **************/

.content {
	background: #FFF;
	max-width: 700px;
	margin: 0 auto;
	border-left: 10px solid #3f7b66;
	overflow : auto; /* IE7 IE8 Firefox Chrome Safari */
	_width : 100%;  /* IE6 */
	animation: 1s myshow;
}
 @keyframes myshow {
 from {opacity: 0} to {opacity: 1}
}
.theme {
	vertical-align: middle;
	padding: 5%;
	float: left;
	width: 40%;
	margin-top: 90px;
	text-align: center;
}
.theme img {
	display: block;
	text-align: center;
	margin: 20px auto;
}
.member {
	background-color: #d5dbde;
	text-align: center;
	line-height: 1.5em;
	float: left;
	width:calc(50% - 40px);
	padding: 20px;
}
.member a {
	text-decoration: none;
	color: #555;
	font-size: 14px;
}
.member a:hover {
	text-decoration: underline;
}
.member img {
	padding: 20px 0;
	width: 150px;
}

.member input {
	width: calc(100% - 50px);
	border: 1px solid #CCC;
	height: 20px;
	padding: 6px;
	margin: 10px 0;
	padding-left: 40px;
	font-size: 14px;
	background-repeat: no-repeat;
}
.member input:hover {
	border: 1px solid #3f7b66;
}
.member input:nth-child(1) {
	background-image: url(../images/icon-companyID.png), url(../images/icon-bg.png);
}
.member input:nth-child(2) {
	background-image: url(../images/icon-userID.png), url(../images/icon-bg.png);
}
.member input:nth-child(3) {
	background-image: url(../images/icon-password.png), url(../images/icon-bg.png);
}
.member button {
	width: 100%;
	background-color: #3f7b66;
	color: #FFF;
	height: 30px;
	font-size: 16px;
	margin: 10px 0;
	cursor: pointer;
	border: 0;
}

@media screen and (max-width:550px) {
.content {
	width: 100%;
	border: 0;
	border-top: 10px solid #3f7b66;
}
.theme, .member {
	width: auto;
}
.theme {
	margin-top: inherit;
}
}
