.logo2{
	background-color: #3f7b66;
}

.features4{
 padding: 20px;
	width: 25%;
	max-width: 300px;
	float: left;
	text-align: center;
}
@media screen and (max-width:1000px){
	.features4{
	width: 50%;
}
}
@media screen and (max-width:500px){
	.features4{
	width: 100%;
	max-width:inherit;
}
}

nav .nav > li.active {
  border-left: 3px solid #3f7b66;
  background-color: #51575b;
}

.navbar h1{
	color: #3f7b66;
}
.btn-primary, .btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
 background-color: #3f7b66;
	border-color: #3f7b66;
}
