/************** Reset **************/


body {
	background-color: #646e74;
	font-family: Microsoft JhengHei, Open Sans, Arial ;
}


.gray-bg, .navbar-static-top{
	background: #d4dbde;
}
.wrapper-content{
		padding-bottom: 100px;
	}
.img_full{
	width: 100%;
	max-width: 400px;
}
hr{
	margin: 10px 0;
	padding-top: 10px;
	border-bottom:1px solid #DDD;
	border-top: 0;
	width: 100%;
}

@media screen and (max-width:500px){
.wrapper-content{
		padding-bottom: 200px;
	}
}

/************** header **************/

header{
	background: #d4dbde;
}

header .logo{
	background: #627075;
}

.logo2{
	background-color: #3f7b66;
	border: 1px solid #f8deb3;
	border-radius: 5px;
	width: 192px;
}

@media screen and (max-width: 768px){
header .logo img{
	margin: 10px;
}
}

@media screen and (max-width: 550px){
header .logo img{
	width: 50vw;
	margin: 10px 5px;
	display: inline;
}
header img.logo2{
	width: 35vw;
}
	header .logo{
		padding-left: 3%;
	}
}
@media screen and (min-width:769px){
header .logo{
	display: none;
}
.navbar-header{
	display: none;
}
}



/************** member+language **************/
.member{
	position: absolute;
	z-index: 101;
	width: auto;
	right: 20px;
}
.member img{
	border-radius: 100%;
	margin: 5px;
	float: left;
	width: 48px;
	background-color: #FFF;
	padding: 1px;
}
.member p{
	padding: 10px;
	display:inline-block;
}

@media screen and (max-width:768px){
	.member{
		position: relative;
		left: 0;
		background: #a6b2b6;
		padding: 5px 20px;
		color: #333;
	}

}
.language {
	font-size: 1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	left: 10px;
	z-index: 999;
	position: fixed;
	bottom: 10px;
}

.language a {
	color: #FFF;
	text-decoration: none;
	border-radius: 99em;
	padding: 3px;
	width: 26px;
	margin: 2px;	
	background: rgba(0,0,0,0.2);
	text-align: center;
}
.language a:hover, .language a.active {
	background: rgba(0,0,0,0.5);
	border: 1px solid #f8deb3;
	color: #f8deb3;
}

@media screen and (max-width:768px){
	.language{
		position: absolute;
		bottom: inherit;
		left: inherit;
		right: 10px;
		top: 100px;
		justify-content:flex-end;
	}
}
@media screen and (max-width:400px){
	.language{
		top: 20vw;
		flex-direction: column;
	}
}
/************** navbar **************/
@media screen and (max-width:768px){
	.navbar-header{
		margin-right: 10px;
	}
}

.btn-primary, .btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
 background-color: #3f7b66;
	border-color: #3f7b66;
}
.navbar h1{
	font-size: 24px;
	color: #3f7b66;
	font-weight: bold;
	font-family: Open Sans;
	margin: 15px 20px;
}


/************** nav **************/
.nav > li > a {
  color: #FFF;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
  background-color: #51575b;
  color: #FFF;
}

nav .nav > li.active {
  border-left: 3px solid #3f7b66;
  background-color: #51575b;
}
nav .nav > li > ul{
  background-color: #51575b;
}
nav .nav > li > ul > li > a{
  color: #f8deb3;
}
.nav.navbar-top-links > li > a:hover,
.nav.navbar-top-links > li > a:focus {
  background-color: #51575b;
}
.nav img{
	margin: 10px 12.5px;
}

@media screen and (max-width:768px){
	.nav img{display: none}
}


/************** footer **************/
.footer{
	background: #a6b2b6;
}
.copy {
	width: 480px;
	line-height: 1.3em;
	position: absolute;
	right: 10px;
	top: 15px;
	color: rgba(85, 85, 85, 0.9);
	font-size: 14px;
	padding-left: 20px;
	font-family: Arial, Microsoft JhengHei;;
	animation: 1s comming2;
}
.copy2 {
	width: 250px;
	line-height: 1.5em;
	font-family: Microsoft JhengHei;
}

@media screen and (max-width: 900px) {
	.copy {
		max-width: 65%;
		top: 12px;
	}
}

@media screen and (max-width: 500px) {
	.footer{
		padding: 0;
	}
	.footer .logo{
		padding: 15px;
	}
	.copy{
		position: relative;
		background: #838a8c;
		color: #FFF;
		width: 100%;
		max-width: inherit;
		padding: 15px;
		margin: 0;
		top: 0;
		left: 0;
	}
	
}

/************** font **************/
h1 {
 font-size: 30px;
	color: #3f7b66;
	font-weight:900;
}
h2 {
 font-size: 24px;
	font-weight: 800;
}
h3 {
 font-size: 18px;
	color: #3f7b66;
	font-weight: bold;
}
h4 {
 font-size: 16px;
	font-weight: 800;
}
h5 {
 font-size: 12px;
}
h6 {
  font-size: 10px;
}
h3,h4,h5 {
  margin-top: 5px;
  font-weight: 600;
}
.small{
	font-size: 12px;
	color: #838383;
}
.blue{
	color: #50b5ec;
}
.orange {
	color: #cf7145;
}

/************** btn **************/
button{
	padding: 5px 10px;
	border-radius: 5px;
	border: 0;
	font-size: 13px;
	color: #FFF;
}
button:nth-child(2){
	margin-left: 5px;
}

button i{margin-right: 5px}
.btn_m{
	font-size: 18px;
	padding: 10px 15px;
}

.btn_black{
	background: #333;
}
.btn_blue-green{
	background: #5dc3c6;
}
.btn_red{
	background: #db0000;
}
.btn_orange{
	background: #cf7145;
}
.btn_white{
	border: 1px solid #CCC;
	background: #FFF;
	color: #777;
}
.btn_white a{
	color: #777;
	display: inline-block;
}
.btn_white:hover{
	background: #5dc3c6;
	color: #FFF;
}
.btn_white i{
	margin: 2px;
}
.btn_b {
	background: #555555;
	padding: 5px 15px;
	margin: 5px 20px;
	font-size: 24px;
	float: right;
}
.next i{
	margin-left: 5px;
	margin-right: 0;
}
.left{
	float: left;
}




@media screen and (max-width:350px){
	button{
		margin: 2px 0;
	}
}


/************** content **************/


.table_form select,.table_form button{
	margin: 5px 0;
}



@media screen and (max-width:1200px){
.table_form td{
	display: block;
	position: relative;
	width: 100%;
	padding: 5px 0;
}
}
.icon{
	width: 120px;
	border-radius: 100%;
	margin: 10px;
}


