#graphContainer {
	overflow: auto;
}

#graphTable {
	table-layout: fixed;
	width: max-content;
	max-width: max-content;
	margin : 0 1em;
	position : absolute;
}

#graphTable td {
	border: 1px #FFD382 dashed;
	padding: 0px;	
}

.g-td {
	width: 15px;
	height: 15px;
	font-size: 1px;
}

canvas {
	display: block;
	position : absolute;
	margin : 0 1em;
	/*border: 1px solid #ccc;*/
	background:rgba(255,255,255,0);
	z-index:1;
}

.btn-g{
	padding: 0px;
	width: 10px;
	height: 10px;
}